* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  color: #000;
  min-height: 100vh;
}

body .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30em;
  background-color: #212121;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border-radius: 0.5em;
}

body .container h1 {
  color: #d4fd02;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

body .container form .name-field,
body .container form .password-field,
body .container form .email-field,
body .container form .phone-field,
body .container form .age-field,
body .container form .birthdate-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  margin-top: 1em;
}

body .container form .name-field label,
body .container form .password-field label,
body .container form .email-field label,
body .container form .phone-field label,
body .container form .age-field label,
body .container form .birthdate-field label {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #fff;
}

body .container form .name-field input,
body .container form .password-field input,
body .container form .email-field input,
body .container form .phone-field input,
body .container form .age-field input,
body .container form .birthdate-field input {
  height: 2.4em;
  width: 100%;
  border-radius: 3em;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  font-size: 1em;
  color: #01b7ee;
  background-color: #262626;
}

body .container form .name-field input:hover,
body .container form .password-field input:hover,
body .container form .email-field input:hover,
body .container form .phone-field input:hover,
body .container form .age-field input:hover,
body .container form .birthdate-field input:hover {
  -webkit-box-shadow: 0 0 9px 4px #fff;
          box-shadow: 0 0 9px 4px #fff;
}

body .container form .name-field {
  margin-top: 2em;
}

body .container form .btn {
  margin: 2em 0 2em 0;
  height: 2.4em;
  width: 100%;
  font-size: 1em;
  outline: none;
  border: none;
  border-radius: 3em;
  text-transform: capitalize;
  color: #01b7ee;
  background-color: #383838;
}

body .container form .btn:hover {
  -webkit-box-shadow: 0 0 6px 4px #01b7ee;
          box-shadow: 0 0 6px 4px #01b7ee;
  text-shadow: 0 0 5px #01b7ee;
}

body .container #error {
  margin-top: 1em;
  color: #ff0047;
}

body .container a {
  text-decoration: none;
  color: #fff;
  margin-top: 1em;
  text-transform: capitalize;
}

body .container a:hover {
  color: #01b7ee;
  text-shadow: 0 0 3px #01b7ee;
}

body .dashboard {
  color: #fff;
}

body .welcome {
  color: #d4fd02;
}
/*# sourceMappingURL=styles.css.map */