<!-- Dashboard page -->
<div class="main">
  <h1>Dashboard</h1>
  <p class="welcome">Welcome <%= user %></p>
  <h2>Node Js with Passport Authentication Project</h2>
  <a href="/users/logout">Logout</a>
  <ul class="tools">
    <li>Node js</li>
    <li>Express js</li>
    <li>Hapi Joi js</li>
    <li>Passport js</li>
    <li>Mongo Altas</li>
  </ul>
</div>
