<div class="main">
  <h1>Home</h1>
  <h2>
    Node Js Register and Login application with Passport 'Local' authentication
  </h2>
  <p>
    To start you have to <a href="/users/register" class="register">Register</a>
  </p>
</div>
