<!-- Login Page -->
<div class="container">
  <h1>login</h1>
  <form id="form" action="/" method="GET">
    <div class="name-field">
      <label for="name">Username</label>
      <input type="text" id="name" name="name" placeholder="Username" />
    </div>
    <div class="password-field">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <button class="btn" type="submit">sign in</button>
    <div id="error"></div>
  </form>
  <a href="#" class="forgot-pswd">forget password ?</a>
  <a href="/users/register" class="register">create an account</a>
</div>
